.contenido-main {
    display: grid;
    grid-template-columns: minmax(120px,160px) auto minmax(120px,160px);
    /* grid-template-columns: repeat(3,auto); */
    column-gap: 8px;
}

.menu-opciones-lateral ul {
    list-style: none;
    padding-left: 0;
}

.menu-opciones-lateral ul li:hover {
    background-color: #F1F0F8;
}

.menu-opciones-lateral input[type='radio'] {
    display: none;
}

.menu-opciones-lateral input[type='radio']:checked+label {
    background-color: #707070;
    color: white;
}

.menu-opciones-lateral label {
    width: 100%;
    padding: 4px 8px;
    cursor: pointer;
}

.info-main {
    height: 40px;
    background-color: aqua;
    /* margin: 8px 0; */
}

.articulos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: space-around;
}

.tarjeta {
    height: fit-content;
    width: 280px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 28px;
}

.foto-tarjeta {
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.foto-tarjeta img {
    height: 120%;
}

.texto-tarjeta p {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 3rem;
    margin-bottom: 0.5rem;
}

.boton-favorito input[type='checkbox'] {
    display: none;
}

.boton-favorito input[type='checkbox']:checked+label svg {
    fill-rule: nonzero;
}

/* .publicidad-lateral {
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
    background-color: #F1F0F8;
} */