.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media(width<828px) {
    .posts{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(width<640px) {
    .posts{
        grid-template-columns: 1fr;
    }
}