.filtro-lateral{
    position: fixed;
    left: 24px;
    top: 108px;
    z-index: 1;
}

.filtro-lateral ul {
    list-style: none;
    padding-left: 0;
}

.filtro-lateral ul li:hover{
    background-color: #F1F0F8;
}

.filtro-lateral input[type='radio'] {
    display: none;
}

.filtro-lateral input[type='radio']:checked+label {
    background-color: #707070;
    color: white;
}

.filtro-lateral label {
    width: 100%;
    padding: 4px 8px;
    cursor: pointer;
}

.contenido-main{
    padding-top: 100px;
}

.info-main{
    height: 40px;
    background-color: aqua;
    /* margin: 8px 0; */
}

.articulos{
    padding: 0 200px;
}

.tarjeta {
    height: fit-content;
    width: 280px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 28px;
}

.foto-tarjeta {
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.foto-tarjeta img {
    height: 120%;
}

.texto-tarjeta p {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 3rem;
    margin-bottom: 0.5rem;
}

.boton-favorito input[type='checkbox'] {
    display: none;
}

.boton-favorito input[type='checkbox']:checked+label svg {
    fill-rule: nonzero;
}

.publicidad-lateral {
    position: fixed;
    right: 24px;
    top: 108px;
    background-color: #EFECFC;
    width: 136px;
    height: 500px;
    z-index: 1;
}